.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  background-color: var(--crayola);
  
  h1 {
    color: var(--text-color);
    font-weight: 500;
    font-size: 1.4rem;
  }
}